<%= form_with(model: [event, comment], url: event_comments_path(event), local: false, html: {class: "needs-validation", novalidate: true}) do |f| %>
  <div class="form-group">
    <%= f.label :comment, class: "form-label" %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control", required: true %>
    <div class="invalid-feedback">コメントを入力してください</div>
  </div>
  <%= f.submit "送信する", class: "btn btn-lg btn-primary float-right mt-3" %>
<% end %>