<div class ='container my-5'>
  <div class ='row'>
    <div class="col-md-12">
      <h1><%= @user.name %>のフォロー一覧</h1>
      <% if @users.exists? %>
        <%= render 'users/index',user: @user ,users: @users %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @users, theme: 'twitter-bootstrap-4' %>