<% events.each do |event| %>
  <div class="col-md-3 my-3">
    <div class="card">
      <%= link_to event_path(event) do %>
        <%= image_tag event.image, class: "card-img-top img-fluid", style: "width: 100%; height: 230px; object-fit: cover;" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= event.name %></h5>
        <p class="card-text">
          <%= event.prefecture_status_i18n %>
        </p>
      </div>
    </div>
  </div>
<% end %>
